@import "_variables";
@import "_general.scss";
@import "_breakpoints.scss";

body {
    width: 100%;
    header {
        height: 820px;
        @include media("<=tablet") {
            height: 992px;
        }

        .home-hero {
            width: 100%;
            height: 100%;
            position: relative;
            .image-hero {
                width: 100%;
                height: 820px;

                @include media("<=tablet") {
                    height: 992px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            nav {
                position: absolute;
                width: 103px;

                top: 65px;
                left: 165px;

                @include media("<=tablet") {
                    top: 374px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .hero-text {
                position: absolute;
                top: 258px;
                left: 165px;

                @include media("<=tablet") {
                    top: 452px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                }
                h1 {
                    color: #fff;
                    width: 508px;
                    @include media("<=tablet") {
                        width: 100%;
                    }
                }
                p.para__1 {
                    width: 445px;
                    margin-top: 24px;
                    margin-bottom: 42px;
                    @include media("<=tablet") {
                        width: 573px;
                        margin-top: 20px;
                        margin-bottom: 52px;
                    }
                }
                .primary-button__light {
                    @include media("<=tablet") {
                        margin: auto;
                    }
                }
            }
        }
    }
    main {
        .first-container {
            @include svgPattern(url("/images/patterns/pattern-curve-top-right.svg"));
            background-position: 0px 250px;
            @include flexContainer(row);
            margin: auto;
            padding: 0px 165px;
            width: 100%;
            @include media("<=tablet") {
                padding: 0px 98px;
                @include flexContainer(column);
                background-position: -517px 100px;
            }
            &__hero-image {
                width: 540px;
                height: 720px;
                position: relative;
                overflow: hidden;
                top: -70px;
                box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
                @include media("<=tablet") {
                    width: 573px;
                    height: 360px;
                    top: -96px;
                }
                img {
                    position: absolute;
                    width: 100%;
                    height: 810px;
                    bottom: 0px;
                    @include media("<=tablet") {
                        height: 100%;
                    }
                }
            }
            .first-container__hero-text {
                margin-top: 177px;
                @include media("<=tablet") {
                    margin-top: -44px;
                    @include flexContainer(column);
                    align-items: center;
                }
                h2 {
                    width: 352px;
                    margin-top: 55px;
                    margin-bottom: 27px;
                    @include media("<=tablet") {
                        margin-top: 36px;
                        margin-bottom: 27px;
                    }
                }
                .para__1 {
                    color: $secondary__e;
                    width: 445px;
                }
            }
        }
        .second-container {
            @include svgPattern(url("/images/patterns/pattern-curve-top-left.svg"));
            background-position: right 320px;
            @include flexContainer(row-reverse);
            margin: -31px auto 0px auto;
            padding: 0px 165px;
            position: relative;
            top: 80px;
            width: 100%;
            @include media("<=tablet") {
                padding: 0px 98px;
                @include flexContainer(column);
                background-position: 384px 482px;
                top: 94px;
            }
            .lines {
                position: absolute;
                width: 160px;
                height: 76px;
                z-index: 1000;
                right: 50px;
                top: 282px;
                @include media("<=tablet") {
                    top: 228px;
                }
                img {
                    width: 100%;
                }
            }
            &__hero-image {
                width: 540px;
                height: 720px;
                position: relative;
                overflow: hidden;
                top: 0px;
                box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
                @include media("<=tablet") {
                    width: 573px;
                    height: 360px;
                }
                img {
                    position: absolute;
                    width: 100%;
                    height: 810px;
                    top: -38px;
                    @include media("<=tablet") {
                        height: 100%;
                        top: 0;
                    }
                }
            }
            .second-container__hero-text {
                margin-top: 200px;
                @include media("<=tablet") {
                    margin-top: 56px;
                    @include flexContainer(column);
                    align-items: center;
                    padding-bottom: 118px;
                }
                h2 {
                    width: 352px;
                    margin-top: 55px;
                    margin-bottom: 27px;
                    @include media("<=tablet") {
                        margin-top: 39px;
                    }
                }
                .para__1 {
                    color: $secondary__e;
                    width: 445px;
                    @include media("<=tablet") {
                        width: 457px;
                    }
                }
            }
        }
        .highlights {
            @include flexContainer(row);
            justify-content: space-between;
            width: 100%;
            display: flex;
            background: $primary__g;
            padding: 200px 165px 120px 165px;
            height: auto;
            @include media("<=tablet") {
                @include flexContainer(column);
                margin-top: 94px;
                padding: 98px;
            }
            .hihglights__hero-text {
                @include media("<=tablet") {
                    @include flexContainer(column);
                    align-items: center;
                }
                h2 {
                    color: #fff;
                    margin-top: 55px;
                    margin-bottom: 27px;
                }
            }
            ul {
                margin-top: 30px;

                li:last-child {
                    padding-bottom: 0px;
                    border-bottom: none;
                }
                li {
                    padding: 24px 0px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                    @include flexContainer(row);
                    width: 100%;

                    .dish-images {
                        position: relative;
                        width: 128px;
                        height: 96px;
                        img {
                            width: 128px;
                            height: auto;
                        }
                        .line {
                            position: absolute;
                            width: 32px;
                            height: 1px;
                            border: 1px solid $primary__b;
                            top: 18px;
                            right: -32px;
                            z-index: 2;
                        }
                    }
                    .dishes {
                        width: 350px;
                        margin-left: 62px;
                        h3 {
                            color: #fff;
                            padding-top: 8px;
                        }
                        .para__2 {
                            padding-top: 6px;
                        }
                    }
                }
            }
        }
        .sliders {
            padding: 160px 165px;
            @include svgPattern(url("/images/patterns/pattern-curve-top-right.svg"));
            background-position: -350px 0px;
            @include flexContainer(column);
            align-items: center;
            width: 100%;
            height: 920px;
            position: relative;
            @include media("<=tablet") {
                background-position: -517px 0px;
                padding: 120px 98px 0px 98px;
                height: 1024px;
            }
            &:before {
                content: url("/images/patterns/pattern-lines.svg");
                position: absolute;
                left: 125px;
                top: 122px;
                z-index: 2;
                @include media("<=tablet") {
                    top: 82px;
                    left: 39px;
                }
            }
            .sliders-container {
                width: 100%;
                position: relative;
                .slide.active {
                    display: flex;
                }
                .slide {
                    @include flexContainer(row);
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s ease-out;
                    width: 100%;
                    @include media("<=tablet") {
                        @include flexContainer(column);
                    }
                    &.active {
                        opacity: 1;
                        visibility: visible;
                        transition: all 0.5s ease-out;
                    }

                    .slide-image {
                        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
                        width: 540px;
                        height: 600px;
                        @include media("<=tablet") {
                            width: 573px;
                            height: 360px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                    .slide-text {
                        padding-top: 70px;
                        @include media("<=tablet") {
                            padding-top: 140px;
                        }
                        .para__1 {
                            color: $secondary__e;
                            width: 445px;
                            margin-top: 19px;
                            @include media("<=tablet") {
                                width: 457px;
                                margin: 19px auto 0px auto;
                            }
                        }
                    }
                }
            }
            .sliders-triggers__container {
                position: absolute;
                right: 360px;
                top: 452px;
                @include media("<=tablet") {
                    position: static;
                    display: flex;
                    flex-direction: column-reverse;
                }
                .sliders-triggers {
                    margin-top: 79px;
                    @include media("<=tablet") {
                        @include flexContainer(row);
                        margin: 0;
                        transform: translateY(-385px);
                        width: 630px;
                    }

                    .trigger {
                        font-size: 17px;
                        text-transform: uppercase;
                        cursor: pointer;
                        color: $secondary__g2;
                        line-height: 28px;
                        mix-blend-mode: normal;
                        opacity: 0.5;
                        transition: all 0.5s ease-out;
                        margin-bottom: 19px;
                        position: relative;
                        @include media("<=tablet") {
                            margin-bottom: 0px;
                            font-weight: 600;
                            font-size: 17px;
                            line-height: 28px;
                            /* identical to box height, or 165% */

                            text-align: center;
                            letter-spacing: 2.5px;
                        }
                        &:hover {
                            opacity: 1;
                        }
                        &.active {
                            opacity: 1;
                            visibility: visible;
                            .border-active {
                                @include media("<=tablet") {
                                    border-bottom: 1px solid #9e7f66;
                                    width: 48px;
                                    margin: 7px auto 0px auto;
                                }
                            }
                        }
                        &.active::before {
                            content: "";
                            border-top: 1px solid #9e7f66;
                            position: absolute;
                            left: -110px;
                            top: 12px;
                            height: 1px;
                            width: 95px;
                            transition: all 0.5s ease-out;
                            @include media("<=tablet") {
                                content: none;
                            }
                        }
                    }
                }
                .primary-button__dark {
                    @include media("<=tablet") {
                        margin: auto;
                        transform: translateY(-122px);
                    }
                }
            }
        }
        .bottom-cta {
            width: 100%;
            height: 240px;
            background-image: url("/images/homepage/ready-bg-desktop@2x.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            @include flexContainer(row);
            align-items: center;
            padding: 0px 165px;
            @include media("<=tablet") {
                height: 272px;
                background-image: url("/images/homepage/ready-bg-tablet@2x.jpg");
                @include flexContainer(column);
                padding: 72px 0px 64px 0px;
            }
            h2 {
                color: #fff;
                @include media("<=tablet") {
                    margin-bottom: 24px;
                }
            }
        }
    }
    footer {
        padding: 80px 165px 76px 165px;
        background-color: $primary__g;
        @include flexContainer(row);
        @include media("<=tablet") {
            padding: 66px 0px 62px 39px;
        }
        .logo {
            min-width: 103px;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        .contact-info {
            width: 814px;
            @include flexContainer(row);
            @include media("<=tablet") {
                @include flexContainer(column);
                padding-left: 130px;
                width: 100%;
            }
            .first-column li,
            .second-column li {
                color: #fff;
                font-size: 14px;
                line-height: 200%;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            .first-column {
                padding-right: 185px;
                @include media("<=tablet") {
                    margin-bottom: 32px;
                    padding: 0px;
                }
            }
            .second-column {
                padding-right: 185px;
                @include media("<=tablet") {
                    padding: 0px;
                }
            }
        }
    }
}
